body {
  background-color: #e6e6e6 !important;
  overflow: auto;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
}

.content {
  background-color: #e6e6e6 !important;
  overflow-x: hidden !important;
  margin: 2% 12% 0% 12%;
}

/*-----------------------------------*\
 * #MENU
\*-----------------------------------*/
.topnav {
  overflow: hidden;
  color: white;
  background-color: #3b5977;
}

.items-menu-container{
  margin-left: 40%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.topnav a:hover {
  font-weight: bold;
  color: white;
}

.topnav a.active {
  background-color: white;
  color: #3b5977;
  font-weight: bold;
  border-radius: 10px;
}

.topnav .icon {
  display: none;
}

.menu-icon {
  width: 10%;
}

.menu-transaction {
  transition-duration: 3s;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none; }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .items-menu-container{
    margin-left: 0%;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative; }
  .topnav.responsive .icon {
    position: relative;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .items-menu-container{
    margin-left: 0%;
  }
}
/*-----------------------------------*\
 * #SECTIONS
\*-----------------------------------*/

.home-content,.about-content, .skills-content, .projects-content, .contact-content {
  padding: 15% 0 20% 0;
}

/*-----------------------------------*\
 * #HOME
\*-----------------------------------*/

.home-title {
  color: #2e929b;
  text-align: center;
  font-size: 4.4rem;
  font-weight: bold;
}
.home-subtitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: darkgray;
}

.arrows {
	width: 60px;
	height: 72px;
	position: relative;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
  margin-top: 10%;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari and Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari and Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari and Chrome */
}

/*-----------------------------------*\
 * #ABOUT
\*-----------------------------------*/

.about-txt-title {
  color: #2e929b;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.about-txt-content {
  font-size: 1.5rem;
}

.card-style {
  margin-left: 5%;
  width: 80%;
  border-radius: 17px;
  height: 150px;
  background-color: white;
  color: #3b5977;
  padding: 10px 10px 15px 10px;
}

.card-style:hover {
  transform: translateY(-5px);
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.card-img {
  height: 80px;
  width: 55% !important;
}

.card-content {
  text-align: center;
  font-size: 1rem;
}

.btn-download {
  color: #3b5977;
  background-color: white;
  font-size: 1.3rem;
  padding: 1% 1% 1% 1%;
  border-radius: 15px;
  border-color: #3b5977;
  width: 200px;
  text-align: center;
  font-weight: bold;
  display: block;
  margin: 0 auto 3% auto;
}

.btn-download:hover {
  background-color: #3b5977;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .card-style {
    margin-bottom: 5%;  
  }

  .card-img {
    height: 50px;
    width: 50px !important;    
  }
}

/*-----------------------------------*\
 * #SKILLS
\*-----------------------------------*/

.skills-left-title {
  color: #2e929b;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.skills-left-content {
  font-size: 1.5rem;
}

.skills-right {
  padding-top: 5%;
  margin-bottom: 5%;
}

.skills-toggle {
  margin: 0px auto;
  width: 25%;
  margin-bottom: 2%;
  text-align: center;
}

.skill-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills-btn {
  color: #3b5977;
  font-weight: bold;
  padding: 4% 4% 4% 4%;
  background-color: white;
  border-color: #3b5977;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 2%;
}

.skills-btn:hover {
  color: white;
  background-color: #3b5977;
}

.skills-btn-active {
  background-color: #3b5977 !important;
  color: white;
  font-weight: bold;
  padding: 4% 4% 4% 4%;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 2%;
}

.container-skills > div
{
  display: inline-block;
  background-color: white;
  width: 25%;
  border-radius: 5px;
  padding: 2% 2% 2% 2%;
  margin-left: 3%;
}
.container-skills
{
  margin: 0px auto;
  width: 40%;
  margin-bottom: 0.5%;
}

#div-tools {
  display: none;
}

@media screen and (max-width: 600px) {
  .skill-img {
    width: 90%;
    height: 50%;
  }

  .container-skills {
    width: 100%;
    height: 60px;
    margin-bottom: 6%;
  }
}

/*-----------------------------------*\
 * #PROJECTS
\*-----------------------------------*/

.projects-txt-title {
  color: #2e929b;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.projects-txt-content {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5%;
}

.project-card {
  margin: auto;
  margin-bottom: 1%;
  width: 50%;
  background-color: white;
  border-radius: 10px;
}

.project-card:hover {
  cursor: pointer;
}

.project-card .img {
  width: 100%;
  height: 200px;
  padding: 7% 1% 1% 5%;
}

.project-card .title {
  color: #3b5977;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.project-card .description {
  font-size: 1rem;
  text-align: center;
}

.skill-img-project{
  margin: auto;
  display: block;
}

/*-----------------------------------*\
 * #CONTACT
\*-----------------------------------*/

.contact-txt-title {
  color: #2e929b;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.contact-txt-content {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15%;
  text-decoration: none;
}

.img-contact {
  margin: auto;
  display:block;
  width: 30%;
  cursor: pointer;
}
